<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Kirkekalender for Skovby - Galten og omegn</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
             <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
             <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="blog-header">
                <div class="bs-docs-header" id="content" tabindex="-1">
                    <div class="container">

                        <h1>Kirke begivenheder i Galten</h1>
                        <p class="lead"><em>En guide til kirkelivet i Skovby-Galten og omegn</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <%= yield %>
                    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                    <!-- Include all compiled plugins (below), or include individual files as needed -->
                </div>

                <div class="col-md-4">
                    <h1>Aktuelt</h1>
                    <hr>
                    <div class="well">

                        <img src="https://static1.squarespace.com/static/ta/52c31ed0e4b09fd87288a7f6/23/assets/icons/splash-logo.png" class="img-responsive"/>
                        <h3>Alpha</h3>
                        <h4><em>Udforsk livets mening!</em></h4>
                        <p class="text-primary">Fra d. 20/10 begynder Alpha, et forløb om livets mening.</p>
                        <p>Alpha er en række interaktive sessioner, hvor du frit kan udforske grundelementerne i den kristne tro. Ingen opfølgning. Intet pres.</p>
                        <p>Alpha kurset foregår over 7 tirsdage og en enkelt søndag i Galten Valgmeningheds lokaler,
                            Hørslevvej 35, 8464 Galten
                        </p>
                        <p>For nærmere info kontakt Lisbeth Vig: 2228 2224 eller lisbethvig@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                Brought to you by <a href="http://www.gava.dk">Galten Valgmenighed</a>
            </div>
        </footer>
    </body>
</html>
